@charset "UTF-8";

:root {
    --cor0: #160E23;
    --cor1: #534C5C;
    --cor2: #574D56;
}

body {
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor2));
}

section#login {
    width: 80vw;
    height: 280px;
}

section#login > div#imagem {
    float: left;
    width: 30%;
    height: 100%
}

section#login > div#formulario {
    float: right;
    width: 70%;
}